@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #010514;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: #eee;
}
:root {
  --text-light: rgb(196, 12, 12);
}
h1,
h2 {
  font-size: 2.2rem;
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  margin: auto;
  max-width: 90%;
}
.bg {
  width: 100%;
  background-image: url("./image/background.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin: 7rem;
}
.poster {
  width: 100%;
  height: 300px;
}
.poster img {
  width: 100%;
  height: 100%;
}
.text-title {
  margin-top: 3rem;
  width: 70%;
  font-size: 5rem;
  font-weight: bolder;
  line-height: 1;
  text-align: center;
  margin: auto;
}
.text-title > span > span {
  color: blueviolet;
}
.input-group {
  margin-top: 3rem;
  width: 90%;
  height: 7rem;
  display: flex;
  align-items: center;
  border: 2px solid blueviolet;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30rem;
}
.input-group > span {
  width: 20%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group > input {
  display: block;
  height: 100%;
  width: 90%;
  font-size: 2.2rem;
  background-color: transparent;
  border: none;
  color: #eee;
}
.input-group > input:focus {
  outline: none;
}
.content {
  width: 100%;
  height: 500px;
  background-color: #0c1122;
}
.text {
  padding-top: 2rem;
  width: 100%;
}
.text > span {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
}
.main-cart {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.item {
  height: 40rem;
  background-color: aqua;
}

@media (min-width: 768px) {
  .poster {
    width: 60%;
    height: 300px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }
  .text-title {
    margin-top: 3rem;
    width: 70%;
    font-size: 5rem;
    font-weight: bolder;
    line-height: 1;
    text-align: center;
    margin: auto;
  }
  .text-title > span > span {
    color: blueviolet;
  }
  .input-group {
    width: 50%;
    height: 7rem;
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 10px;
    overflow: hidden;
  }
  .text > span {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .main-cart {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .poster {
    width: 70%;
    height: 340px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }
  .text-title {
    margin-top: 3rem;
    width: 70%;
    font-size: 5rem;
    font-weight: bolder;
    line-height: 1;
    text-align: center;
    margin: auto;
  }
  .text-title > span > span {
    color: blueviolet;
  }
  .input-group {
    width: 60%;
    height: 7rem;
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 10px;
    overflow: hidden;
  }
  .text > span {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .main-cart {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .poster {
    width: 30%;
    height: 300px;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }
  .text-title {
    margin-top: 3rem;
    width: 40%;
    font-size: 5rem;
    font-weight: bolder;
    line-height: 1;
    text-align: center;
  }
  .text-title > span > span {
    color: blueviolet;
  }
  .input-group {
    height: 7rem;
    width: 30%;
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 10px;
    overflow: hidden;
  }

  .text > span {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .main-cart {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}
